{% extends "base.html" %}
{% block content %}
    <div class="container">
        {% if success_message %}<div class="alert alert-success" role="alert">{{ success_message }}</div>{% endif %}
        <h2>Create Module</h2>
        <form method="POST" action="{{ url_for("main.create_module") }}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <div class="form-label">{{ form.module_name.label }}</div>
                {{ form.module_name(class="validate") }}
                {% if form.module_name.errors %}<span>{{ form.module_name.errors[0] }}</span>{% endif %}
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
{% endblock %}
