<body>
<h1 style="text-align: center">{{ student_name }}</h1>
<div style="display: flex; flex-flow: row wrap; justify-content: space-around">
    <table>
        <thead>
        <tr>
            <th>Module id</th>
            <th>Module name</th>
        </tr>
        </thead>
        {% for module in modules: %}
        <tr>
            <td>{{module.module_id}}</td>
            <td>{{module.module_name}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <thead>
        <tr>
            <th>Module id</th>
            <th>Grade</th>
        </tr>
        </thead>
        {% for enrolment in module_enrolments %}
        <tr>
            <td>{{enrolment.module_id}}</td>
            <td>{{enrolment.grade}}</td>
        </tr>
        {% endfor %}
    </table>
    <form method="POST" action="{{ url_for('main.edit_student', student_id=student_id) }}">
        {{form.hidden_tag()}}
        <div class="input-field">
            {{ form.module_id.label }}
            {{ form.module_id(class="validate") }}
            {% if form.module_id.errors %}
            <span>{{ form.module_id.errors[0] }}</span>
            {% endif %}
        </div>
        <div class="input-field">
            {{ form.grade.label }}
            {{ form.grade(class="validate") }}
            {% if form.grade.errors %}
            <span>{{ form.grade.errors[0] }}</span>
            {% endif %}
        </div>
        <div class="input-field">
            <button type="submit">Add/Update Grade</button>
        </div>
    </form>
</div>
</body>
