{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div style="text-align: center">
            <h1 style="margin: auto; display: inline">{{ student_name }}</h1>
            <a class="link-secondary"
               href="{{ url_for('main.edit_course', course_id=student_course.course_id) }}">({{
                student_course.course_name
            }})</a>
            /
            <small>
                <!-- Allow user to change a student's course -->
                <a class="link-secondary"
                   href="{{ url_for('main.edit_student_course', student_id=student_id) }}">Edit Course</a>
            </small>
        </div>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div>
                <!-- Not the clearest UI, but display all the modules in the database, so the user can reference this when adding module to student-->
                <div class="card" style="padding: 1rem; margin-bottom: 1rem">
                    <h5 class="card-title">All Modules</h5>
                    <table class="table" style="max-width: 40rem">
                        <thead>
                            <tr>
                                <th>Module id</th>
                                <th>Module name</th>
                            </tr>
                        </thead>
                        {% for module in modules: %}
                            <tr>
                                <td>{{ module.module_id }}</td>
                                <td>{{ module.module_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- Display all modules the student has been enrolled on-->
                <div class="card" style="padding: 1rem">
                    <h5 class="card-title">Results</h5>
                    <table class="table" style="max-width: 20rem">
                        <thead>
                            <tr>
                                <th>Module id</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        {% for enrolment in module_enrolments %}
                            <tr>
                                <td>{{ enrolment.module_id }}</td>
                                <td>{{ enrolment.grade }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- A form for a tutor to add/edit a student's grade -->
            <div class="card" style="padding: 2rem">
                {% if success_message %}<div class="alert alert-success" role="alert">{{ success_message }}</div>{% endif %}
                {% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}
                <h5 class="card-title">Add / Update Grade</h5>
                <form method="POST"
                      action="{{ url_for('main.edit_student', student_id=student_id) }}">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        <div class="form-label">{{ form.module_id.label }}</div>
                        {{ form.module_id(class="validate") }}
                        {% if form.module_id.errors %}<span>{{ form.module_id.errors[0] }}</span>{% endif %}
                    </div>
                    <div class="mb-3">
                        <div class="form-label">{{ form.grade.label }}</div>
                        {{ form.grade(class="validate") }}
                        {% if form.grade.errors %}<span>{{ form.grade.errors[0] }}</span>{% endif %}
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
