{% extends "base.html" %}
{% block content %}
    <div class="container">
        <!-- Simple form with email, password, remember me box used for logging in -->
        {% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}
        <h2>Login</h2>
        <form method="POST" action="{{ url_for("main.tutor_login") }}">
            {{ form.hidden_tag() }}
            <div class="input-field">
                {{ form.email.label }}
                {{ form.email(class="validate") }}
                {% if form.email.errors %}<span>{{ form.email.errors[0] }}</span>{% endif %}
            </div>
            <div class="input-field">
                {{ form.password.label }}
                {{ form.password(class="validate") }}
                {% if form.password.errors %}<span>{{ form.password.errors[0] }}</span>{% endif %}
            </div>
            <div class="input-field">
                {{ form.remember }}
                {{ form.remember.label }}
            </div>
            <div class="input-field">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
